.container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;

}
choice-card{
    height: 100%;
  }
.name {
  width: calc(14% - 24px);
  padding: 1%;
  text-align: center;
  background-color: gold;
  margin: 4px;
  border-radius: 8px;
  box-shadow: 2px 2px 1px 1px #ffd701d4;
}

.name:hover {
  cursor: pointer;
  background-color: goldenrod;
}

.icon {
  display: inherit;
  height: 20px;
}

.createPizza { 
  margin: 0 auto;
  display: flex;
}

.mat-raised-button.mat-gold
  {
      background-color: #F9AA33;
      color: white;
  }
  .position-fixed {
    position: fixed;
    bottom: 0;
  }
  .fill-end {
    flex: 1 1 auto;
  }
  .anchovy {
    background-image: url('/assets/images/anchovy.svg');
    background-repeat: no-repeat;
  }
  .bacon {
    background-image: url('/assets/images/bacon.svg');
    background-repeat: no-repeat;
  }
  
  .basil {
    background-image: url('/assets/images/basil.svg');
    background-repeat: no-repeat;
  }
  
  .chili {
    background-image: url('/assets/images/chili.svg');
    background-repeat: no-repeat;
  }
  
  .mushroom {
    background-image: url('/assets/images/mushroom.svg');
    background-repeat: no-repeat;
  }
  
  .olive {
    background-image: url('/assets/images/olive.svg');
    background-repeat: no-repeat;
  }
  
  .onion {
    background-image: url('/assets/images/onion.svg');
    background-repeat: no-repeat;
  }
  
  .pepper {
    background-image: url('/assets/images/pepper.svg');
    background-repeat: no-repeat;
  }
  
  .pepperoni {
    background-image: url('/assets/images/pepperoni.svg');
    background-repeat: no-repeat;
  }
  
  .prawn {
    background-image: url('/assets/images/prawn.svg');
    background-repeat: no-repeat;
  }
  
  .sweetcorn {
    background-image: url('/assets/images/sweetcorn.svg');
    background-repeat: no-repeat;
  }
  
  .tomato {
    background-image: url('/assets/images/tomato.svg');
    background-repeat: no-repeat;
  }
  
  .mozzarella {
    background-image: url('/assets/images/mozzarella.svg');
    background-repeat: no-repeat;
  }