<mat-toolbar class="navbar" >

    <img src="./assets/pizza_logo.png" class="logo-image">
      <button mat-button routerLink="/home" routerLinkActive="active" disableRipple='true'>Home</button>
      <button mat-button  routerLink="/orderPizza" routerLinkActive="active">Order Pizza</button>      
      <button mat-button  routerLink="/addToppings" routerLinkActive="active">Add Toppings</button>
      <button mat-button routerLink="/buildPizza" routerLinkActive="active">Build Ur Pizza</button>
      <span  class="fill"></span>
      <a mat-raised-button color="gold" routerLink="/shoppingcart">Shopping Cart</a>
  </mat-toolbar>